<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <p>ID : {{ project.project_id }}</p>
  <p>Title : {{ project.title }}</p>
  <p>Start : {{ project.start_date }}</p>
  <p>Finish : {{ project.finish_date }}</p>
  <p>Budget : {{ project.budgetT }}</p>
  <p>Operating Unit : {{ project.operating_unit }}</p>
  <p>Activity Status : {{ project.activity_status }}</p>
  <p>Planification Year : {{ project.planification_year }}</p>
<p>
  LES PARTENAIRES :
{% for p in part %}
 <p> Partenaires : {{ p.organisation_name }} </p>
{% endfor %}
</p>
</body>
</html>
