<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
{% for project in projects %}
  <p>ID : {{ project.project_id }}</p>
  <p>Title : {{ project.title }}</p>
  <p>Organisation : {{ project.organisation }}</p>
  <p>Start : {{ project.start_date }}</p>
  <p>Finish : {{ project.finish_date }}</p>
  <p>Budget : {{ project.budgetT }}</p>
  <p>Operating Unit : {{ project.operating_unit }}</p>
  <p>Activity Status : {{ project.activity_status }}</p>
  <p>Sector : {{ project.sector }}</p>
  <p>Region : {{ project.region }}</p>
  --------
{% endfor %}
</body>
</html>
